@model Enfermo

<h1>Details del Enfermo</h1>

<ul class="list-group">
    <li class="list-group-item">@Model.Inscripcion</li>
    <li class="list-group-item">@Model.Apellido</li>
    <li class="list-group-item">@Model.Direccion</li>
    <li class="list-group-item">@Model.FechaNac</li>
    <li class="list-group-item">@Model.S</li>
    <li class="list-group-item">@Model.NSS</li>
</ul>